<div class="address-details-container">
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Full Name</span>
      <input class="input-data" type="text" ng-model="address.name" placeholder="Recipient Name">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Flat/House No.</span>
      <input class="input-data" type="text" ng-model="address.flatNo" placeholder="Flat No.">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">House Name</span>
      <input class="input-data" type="text" ng-model="address.flatName" placeholder="Flat Name">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Landmark</span>
      <input class="input-data" type="text" ng-model="address.landmark" placeholder="Landmark">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Locality</span>
      <input class="input-data" type="text" ng-model="address.area" placeholder="Locality">
    </label>
  </div>
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Phone</span>
      <input class="input-data" type="tel" ng-model="address.contact" placeholder="Mobile Number">
    </label>
  </div>
</div>
