<div class="row copy-row">
  <div class="col">
    <h1 class="welcome-title">Exclusive Offers</h1>
    <p class="welcome-paragraph">Get exclusive offers when you order through the App</p>
  </div>
</div>

<div class="row images-row">
  <div class="col">
    <div class="illustration-container">
      <pre-img ratio="_21_13" helper-class="square-image">
        <center><img class="illustration-image" ng-src="./img/walkthrough/icon_slide_2.png" style="margin-left: 35%; width: 30%" spinner-on-load/></center>
      </pre-img>
    </div>
  </div>
</div>
