<ion-view class="checkout-view" cache-view="false">
  <ion-header-bar class="checkout-header">
    <button class="button button-clear" style="width: 35px;" ng-click="cancel()"><img src="img/common/back.png" width="20px" style="position: absolute; right: 5px; top: 5px; left: 5px;"></button>
    <button class="button button-clear" style="padding: 0px 30px 0px 50px; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 14px; width: 75%" ng-if="checkoutMode == 'delivery'" width="80px" ng-click="changeLocation()"><img src="img/common/location.png" width="20px" style="position: absolute; right: 5px; top: 5px;">{{outletSelection['location']}}</button>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="checkout-content">


  <!-- Option for changing the pickup location -->
  <div ng-if="checkoutMode == 'takeaway'">
    <div ng-if="isPickupChangeable">
      
      <h3 class="checkout-sub-title" style="padding: 15px 15px 0px 15px;">Pickup Outlet</h3>

      <div class="row address-row">
        <!-- Pickup location Chooser -->
        <div class="address-chooser" ng-click="openOutletPopover($event)" style="width: 100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
          <button class="button button-block icon-right addresses-popover-button-forlocation" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;background: #FFF; color: #c52031; border-color: #c52031; " ng-class="{'ion-chevron-up': city_popover.isShown(), 'ion-chevron-down' : !city_popover.isShown()}">
            {{data.selected_outlet.name || 'Select Outlet'}}
          </button>
        </div>
      </div>
      <h3 class="checkout-sub-title" style="font-weight: 400; font-size: 11px; text-align: center; padding: 0 15px; color: #bdbdbd; margin-top: -5px;" ng-if="data.selected_outlet.name">We have set the pickup location to your nearest outlet. Change it if you want to.</h3>

    </div>
    <div ng-if="!isPickupChangeable">
      
      <h3 class="checkout-sub-title" style="padding: 15px 15px 0px 15px;">Pickup Outlet</h3>
      <p style="padding: 5px 15px; text-align: center; font-size: 18px;">{{pickupAddressDefault}}</p>
      <h3 class="checkout-sub-title" style="font-weight: 400; font-size: 11px; text-align: center; padding: 0 15px; color: #bdbdbd; margin-top: -5px;">The prices are special at this outlet and it serves only a selected community. This order can be picked up only from {{pickupAddressDefault}}</h3>

    </div>
  </div>

  <div ng-if="checkoutMode == 'delivery'">
    <h3 class="checkout-sub-title" style="">Delivery Address</h3>
    <div class="row address-row">
      <div class="col">
        <div class="address-chooser">
          <a class="button button-block icon-right ion-chevron-right choose-addresses-button" style="color: #c52031" ng-class="{'aa': addresses_popover.isShown(), 'bb' : !addresses_popover.isShown()}" ui-sref="main.app.checkout.address()">{{getSelectedAddress() || 'Select a Delivery Address'}}</a>
        </div>
      </div>
    </div>
  </div>

    <h3 class="checkout-sub-title" style="">Payment Information</h3>

    <div class="paymentRadio" style="padding: 0px 15px" ng-if="onlinePayFlag">
      <div ng-if="checkoutMode == 'delivery'">
        <ion-list>
          <ion-radio ng-model="paychoice" ng-value="'PRE'" ng-click="setPay('PRE')">Pay Online</ion-radio>
          <ion-radio ng-model="paychoice" ng-value="'COD'" ng-click="setPay('COD')">Cash on Delivery (COD)</ion-radio>
        </ion-list>
      </div>
      <div ng-if="checkoutMode == 'takeaway'"> <!-- Only ONLINE PAY for Takeaways -->
        <ion-list>
          <ion-radio ng-model="paychoice" ng-value="'PRE'" ng-click="setPay('PRE')">Pay Online</ion-radio>
        </ion-list>
      </div>
    </div>



    <!-- Only COD option available -->
    <div class="paymentRadio" style="padding: 0px 10px" ng-if="!onlinePayFlag">
      <ion-list>
        <ion-radio ng-model="paychoice" ng-value="'COD'" ng-click="setPay('COD')">Cash on Delivery (COD)</ion-radio>
      </ion-list>
    </div>

    <h3 class="checkout-sub-title" style="">Promotional Offers</h3>
    <div class="row promo-code-row">
      <div class="col col-75">
        <label class="item item-input promo-item" style="border-bottom-left-radius: 6px; border-top-left-radius: 6px; border: 1px solid #c52031; border-right: none; background: none;">
          <input type="text" ng-model="promoCode" style="text-transform: uppercase; font-weight: bold; font-size: 16px; letter-spacing: 2px; color: #a8302b; }" ng-blur="validateCoupon()" ng-focus="enteringCoupon()">
        </label>
      </div>
      <div class="col">
        <div class="item item-input promo-item" style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; border: 1px solid #c52031;border-left: none; background: none; height: 45px; width: 100%">
          <div class="input-label" style="text-align: center; color: #FFF; width:100%; background: #c52031" ng-click="validateCoupon(promoCode)">APPLY</div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <center>
        <p ng-show="isSuccess" style="text-align: center; font-size: 11px; color: #27ae60; line-height: 120%">{{promoMessage}}</p>
        <p ng-show="!isSuccess" style="text-align: center; font-size: 11px; color: #e74c3c ; line-height: 120%">{{promoMessage}}</p>
      </center>
    </div>

    <h3 class="checkout-sub-title" style="padding-top: 10px">Any comments?</h3>
    <div style="margin: 0px 15px; border: 1px solid #c52031; border-radius: 6px">
      <textarea type="text" ng-model="comments.value" style="padding: 10px;  border-radius: 6px; resize: none;width: 100%;line-height:1.6em; font-size: 14px; font-weight: 300" placeholder="Extra spicy? Less Oily? Add your notes to the chef here."></textarea>
    </div>

    <h3 class="checkout-sub-title">Order Summary</h3>
    <ul class="list checkout-products">
      <li class="item checkout-product" ng-repeat="product in products track by $index">
        <div class="row">
          <div class="col col-67 col-center">
            <span class="product-name">{{product.itemName}}<tag ng-if="product.isCustom" style="font-size: 70%; color: #7f8c8d; padding-left: 3px;">({{product.variant}})</tag></span>
          </div>
          <div class="col col-10 col-center">
            <span class="product-name">x {{product.qty}}</span>
          </div>
          <div class="col col-center">
            <span class="product-price"><i class="fa fa-inr"></i> {{product.itemPrice}}</span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list checkout-bill">
      <li class="item">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Price Subtotal</span>
          </div>
          <div class="col">
            <span class="bill-item-value"><i class="fa fa-inr"></i> {{ getSubtotal() | number:2 }}</span>
          </div>
        </div>
      </li>
      <li class="item" ng-if="outletSelection['isTaxCollected']">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">GST ({{taxPercentage}}%)</span>
          </div>
          <div class="col">
            <span class="bill-item-value"><i class="fa fa-inr"></i> {{ getTax() | number:2 }}</span>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">
            <span ng-if="checkoutMode=='delivery'" class="bill-item-title">Parcel Charges ({{deliveryCharge}}%)</span>
            <span ng-if="checkoutMode=='takeaway'" class="bill-item-title">Parcel Charges ({{pickupCharge}}%)</span>
          </div>
          <div class="col">
            <span class="bill-item-value"><i class="fa fa-inr"></i> {{ getParcel() | number:2 }}</span>
          </div>
        </div>
      </li>
      <li class="item" ng-if="isCouponApplied">
        <div class="row">
          <div class="col">
            <span class="bill-item-title" style="color: #27ae60">Coupon Discount</span>
          </div>
          <div class="col">
            <span class="bill-item-value" style="color: #27ae60">- <i class="fa fa-inr"></i> {{couponDiscount}}</span>
          </div>
        </div>
      </li>

      <li class="item" ng-if="availRewards">
        <div class="row">
          <div class="col">
            <span class="bill-item-title" style="color: #27ae60">
              Zaitoon Rewards Coins
            </span>
          </div>
          <div class="col">
            <span class="bill-item-value" style="color: #27ae60">- <i class="fa fa-inr"></i> {{rewardCoins}}</span>
          </div>
        </div>
      </li>

      <li class="item bill-total">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Order Total</span>
          </div>
          <div class="col">
            <span ng-if="!isCouponApplied && !availRewards" class="bill-item-value"><i class="fa fa-inr"></i> {{ getTotal() | number:2 }}</span>
            <span ng-if="isCouponApplied && !availRewards" class="bill-item-value"><i class="fa fa-inr"></i> {{ getTotal() - couponDiscount | number:2 }}</span>
            <span ng-if="!isCouponApplied && availRewards" class="bill-item-value"><i class="fa fa-inr"></i> {{ getTotal() - rewardCoins | number:2 }}</span>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>

  <div class="row" ng-if="showBannerFlag" style="position: absolute; bottom: 65px; background: #2ecc71; color: #fff; width: 100%; padding: 10px 10px 10px 0px">
      <div class="col col-10" ng-click="hideBanner()"><button class="button button-clear" style="float: left; color: #DCDCDC;">X</button></div>
      <div class="col col-66" style="padding-top: 7px"><tag style="color: #FFF; vertical-align: middle; text-align: center; text-overflow: ellipsis; font-size: 18px; font-weight: 300; padding: 7px; line-height: 42px;">Redeem Zaitoon Coins?</tag></div>
      <div class="col col-20" ng-click="triggerCoins()"><button class="button button-clear button-outline" style="float: right; color: #FFF; border-color: #FFF">Yeah!</button></div>
  </div>



  <ion-footer-bar class="checkout-footer">
    <a class="button button-full place-order-button" ng-click="placeOrder()">
      Place Order
    </a>
  </ion-footer-bar>
</ion-view>
