<ion-view class="food-content-view" cache-view="false">
  <ion-content style="margin-bottom: 50px">
    <div style="position: relative">
      <button class="button button-clear" ui-sref="main.app.feed.arabian()" style="z-index: 1000; position: absolute; top: 10px; left: 10px;"><img src="img/common/back.png" width="20px" style="position: absolute; right: 5px; top: 5px; left: 5px; padding-top: 5px"></button>
      <ion-slide-box class="product-images-slider" show-pager="true">
        <ion-slide>
          <div class="image-container" multi-bg="[info.pictures[0]]">
            <div class="product-illustration-container">
            <h1 style="color: #FFF; text-align: center; padding: 0px 15px">Zaitoon {{info.name}}</h1>
            </div>
          </div>
        </ion-slide>
        <ion-slide ng-repeat="product_image in info.pictures.slice(1) track by $index">
          <div class="image-container" multi-bg="[product_image]"></div>
        </ion-slide>
      </ion-slide-box>
    </div>
  
    <div class="row all-reviews-row" style="margin-top: 5px">
      <div class="col">

      </div>
    </div>  

    <div class="row brief-info-row">
      <div class="col">
        <h3 class="product-name" style="font-size: 18px; font-weight:300; color: #7f8c8d">Address</h3>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.line1}}</h5>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.line2}}</h5>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.city}}</h5>
    <h5 class="product-style" style="color: #16a085; font-weight: 300">Open Hours: <b>{{info.openHours}}</b></h5>
    <br>
        <a style="font-size:18px; color: #a71d2b; text-decoration: none;" href="tel:{{info.mobile}}" >
          <i class="fa fa-phone"></i> {{info.mobile}}
        </a>      
      </div>
    
  
    </div>

    <div class="row schedules-and-address-row">
      <div class="col">
        <p style="font-weight: 300"></p>
      </div>
    </div>
  
  
    <div class="row address-map-row">
      <div class="col">
        <div class="map-wrapper" id="map" data-tap-disabled="true">
        </div>
      </div>
    </div>

  <div class="row write-review-row" style="padding: 0">
      <div class="col">
        <button class="button new-review-button" style="background: #47a085; font-size: 16px; z-index: 100; position: relative; top: -45px; left: 10px;" ng-click="launchNavigator(info.lat, info. lng)">
          <i class="fa fa-automobile"></i> Navigate
        </button>
      </div>
    </div>
  
  </ion-content>
  
    <div class="row write-review-row" style="padding: 0">
      <div class="col">
        <button class="button button-block new-review-button" ng-if="!info.isReservationAllowed" style="border-radius: 0; position: fixed; bottom: 0; height: 60px;">
          Table reservation not available
        </button>
    
        <button class="button button-block new-review-button" ng-if="info.isReservationAllowed" style="border-radius: 0; position: fixed; bottom: 0; height: 60px; background: #60cd71" ng-click="bookTable(info.outlet)">
          BOOK A TABLE
        </button>
    
      </div>
    </div>



  
</ion-view>
